.body{
  background-color: black;
}

.carousel-wrapper {
  display: grid;
  place-content: center;
  border-radius: 2rem;
}

.carousel-content {
  position: relative;
  width: 55rem; /* Ajustez la largeur selon vos besoins */
  height: 55rem; /* Ajustez la hauteur selon vos besoins */
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // padding: 1rem;
  color: #fff; /* Couleur du texte */
  font-weight: bold; /* Style du texte */
  font-size: 1.2rem; /* Taille du texte */
  overflow: hidden;

.carousel-link{
  text-decoration: none;
  color: black;
}

  & > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.carousel-btns {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 6;

  button {
    padding: 8px 15px;
    width: 25rem;
    height: 5rem;
    background-color: #D3D9ED ;
    border-radius: 1rem;
    color: #353535;
    font-weight: 700;
    letter-spacing: 0.15rem;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
  }

}

.carousel-overlay{
  font-size: 5rem;
}


.box3 {
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 3vw;
  height: 5vh;
  background: white;
  z-index: 100;

  // Pour utiliser les variables SCSS :
  // background: $black; // Assurez-vous que $black est défini dans votre fichier SCSS
}